html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  padding: 0 4%;

  color: #121222;
  background: #f2f2f2;
}

ol,
ul {
  list-style: none;
}

header {
  width: 90%;
  padding: 2rem 0;
}

.search-panel {
  display: flex;
}

#controls {
  font-size: 1.4rem;

  position: relative;

  width: 90%;
  .searchbox-header {
    line-height: 2rem;

    height: 2.6rem;
  }

  #searchbox {
    font-size: 1.6rem;

    position: relative;

    width: 75%;
    height: 2.4rem;
    margin-bottom: 3.2rem;
    input[type='text'] {
      font-size: 2.4rem;
    }
    .ais-SearchBox-reset {
      display: none;
    }
    .ais-SearchBox-input {
      line-height: 1.5;

      width: 100%;
      height: 2.4rem;
    }
    .ais-SearchBox-submit {
      display: none;
    }
  }

  #hits-per-page {
    font-size: 1.6rem;

    position: absolute;
    top: 2rem;
    right: 0;

    width: 15%;
    .ais-HitsPerPage-select {
      float: right;
    }
  }
}

#tuner {
  position: relative;

  float: left;

  width: 10%;
  min-width: 16rem;
  height: 100%;
  #refinement-list {
    font-size: 1.2rem;

    width: 100%;
    padding-top: 4rem;
    .ais-RefinementList-item {
      margin: 0.8rem;
    }
  }

  .year-range-header {
    font-size: 1.4rem;

    padding-top: 4rem;
  }
  #year-range {
    font-size: 1.2rem;

    width: 100%;
    padding-top: 0.8rem;
    .ais-RangeInput-separator {
      padding: 0 0.6rem;
    }

    .ais-RangeInput-submit {
      width: 2rem;
      margin-left: 0.6rem;
    }
  }
}

#results {
  float: left;

  width: 80%;
}
.ais-Hits-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .ais-Hits-item {
    float: left;

    width: auto;
    height: auto;

    .movie {
      width: 30rem;
      height: 64rem;
      margin-bottom: 0;
      padding: 2rem 2rem 0 2rem;

      animation-name: fadeIn;
      animation-duration: 0.5s;
      animation-delay: 1.1s;
      animation-iteration-count: 1;

      opacity: 0;
      border-radius: 0.8rem;

      animation-fill-mode: forwards;
    }

    .movie.hit-0 {
      animation-delay: 0.1s;
    }
    .movie.hit-1 {
      animation-delay: 0.15s;
    }
    .movie.hit-2 {
      animation-delay: 0.2s;
    }
    .movie.hit-3 {
      animation-delay: 0.25s;
    }
    .movie.hit-4 {
      animation-delay: 0.3s;
    }
    .movie.hit-5 {
      animation-delay: 0.35s;
    }
    .movie.hit-6 {
      animation-delay: 0.4s;
    }
    .movie.hit-7 {
      animation-delay: 0.45s;
    }
    .movie.hit-8 {
      animation-delay: 0.5s;
    }
    .movie.hit-9 {
      animation-delay: 0.6s;
    }
    .movie.hit-10 {
      animation-delay: 0.65s;
    }
    .movie.hit-11 {
      animation-delay: 0.7s;
    }
    .movie.hit-12 {
      animation-delay: 0.75s;
    }
    .movie.hit-13 {
      animation-delay: 0.8s;
    }
    .movie.hit-14 {
      animation-delay: 0.85s;
    }
    .movie.hit-15 {
      animation-delay: 0.9s;
    }
    .movie.hit-16 {
      animation-delay: 0.95s;
    }
    .movie.hit-17 {
      animation-delay: 1s;
    }
    .movie.hit-18 {
      animation-delay: 1.05s;
    }
    div {
      margin-bottom: 1rem;
    }

    .poster {
      width: 20rem;
      height: 30rem;
      margin: 0 auto 2rem auto;

      background: #ccc;
      background-position: center;
      background-size: cover;
      box-shadow: 4px 4px 6px #898989;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.8rem;

      width: 26rem;
      max-height: 3.6rem;
      padding: 0 3rem;

      text-align: left;
    }
    .year {
      font-size: 1.2rem;

      width: 26rem;
      padding: 0 3rem;

      color: #999;
    }
    .genre {
      font-size: 1.2rem;
      line-height: 1.2;

      width: 26rem;
      margin-bottom: 2.4rem;
      padding: 0 3rem;
    }
    .actor-gallery {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      width: 100%;
      .actor {
        width: 7.8rem;
        .portrait {
          display: block;

          margin: 0 auto;
          margin: 0 auto;
        }
        .screen-name {
          font-size: 1rem;

          float: left;

          width: 7.8rem;

          text-align: center;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#pagination {
  font-size: 1.6rem;
  line-height: 8rem;

  float: left;

  width: 100%;
  height: 8rem;
  .ais-Pagination-list {
    display: flex;
    justify-content: center;
    .ais-Pagination-item {
      width: 4rem;

      text-align: center;
    }
  }
}
